@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Prueba Tecnica WEB MASTER</h1>
    <p>
        <b>Acerca de esta aplicacion</b>: Se requiere de un portal que contenga dos tipos de roles para los usuarios
        Administradores que tendrá control completo del portal y usuarios normales que este al ser
        creado tendrá opciones múltiples de accesos y permisos, el usuario Normal podrá controlar las
        diferentes Tiendas según las opciones permitidas podrá Ver, Actualizar, Crear o Eliminar dicha
        información.
    </p>
    <p>Luis Enrique Rubio - <b>Desarrollador Web</b> <a href="https://www.linkedin.com/in/luis-rubio-032610110/" target="_blank">LinkedIn</a>.</p>
</div>
